.project {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  
  justify-content: space-around;
}

.project__card {
  width: 20rem;
  border: solid 1px white;
}

.project__social{
  display: flex;
  gap: 1rem;

}